/* Event Card */

.eventCard {

    border: 4px solid #007BFF;

    padding: 30px;

    margin: 40px;

    background-color: #f0f8ff;
}

/* Outline Example */

input {

    padding: 10px;

    margin-left: 40px;

    outline: 3px solid red;
}

/* Visibility Hidden */

.hiddenBox {

    visibility: hidden;

    background-color: yellow;

    margin: 20px;
}

/* Display None */

.noneBox {

    display: none;

    background-color: lightgreen;
}